<div class="tab-pane fade <% if(typeof(pane) !== 'undefined' && pane == 'per-ass') { %>show active<% } %>"
    id="permission-assign-pane" role="tabpanel" aria-labelledby="permission-assign-tab">
    <h2 class="pane-h2">Assign Permission</h2>
    <section class="standard-form-section">
    </section>
</div>
