<div class="tab-pane fade <% if(typeof(pane) !== 'undefined' && pane == 'role-ass') { %>show active<% } %>"
    id="role-assign-pane" role="tabpanel" aria-labelledby="role-assign-tab">
    <h2 class="pane-h2">Assign User</h2>
    <section class="standard-form-section">
    </section>
</div>
