<div class="tab-pane fade <% if(typeof(pane) !== 'undefined' && pane == 'whs-list') { %>show active<% } %>"
    id="warehouse-list-pane" role="tabpanel" aria-labelledby="warehouse-list-tab">
    <h2 class="pane-h2">Warehouse List</h2>
    <section id="warehouse-list-section" class="content-pane-scroll-cards-section tab-scroll-pane">
        
    </section>
    <nav id="warehouse-list-section-pagination" class="content-nav-right" aria-label="Warehouse listing">
        <!-- Pagination Navigation Details -->
    </nav>
</div>