<div class="tab-pane fade <% if(typeof(pane) !== 'undefined' && pane == 'whs-create') { %>show active<% } %>"
    id="warehouse-requests-pane" role="tabpanel" aria-labelledby="warehouse-requests-tab">
    <h2 class="pane-h2">Warehouse Requests</h2>
    <section class="standard-form-section">
    </section>
</div>