<div class="tab-pane fade <% if(typeof(pane) !== 'undefined' && pane == 'track' ) { %>show active<% } %>"
    id="delivery-track-pane" role="tabpanel" aria-labelledby="delivery-track-tab">
<nav id="delivery-track-list-section-pagination" class="content-nav-right" aria-label="Delivery Listing">
    <!-- Pagination Navigation Details -->
</nav>
</div>