<div class="tab-pane fade <% if(typeof(pane) !== 'undefined' && pane == 'pkg' || pane == 'prealert' || pane == 'track') { %>show active<% } %>" id="deliveries-pane" role="tabpanel" aria-labelledby="deliveries-tab">
    <% if(typeof(hidePreAlert) !=='undefined' && hidePreAlert) { pane = 'track';}%>
    <h2 class="pane-h2">Delivery</h2>
    <ul class="nav nav-tabs nav-fill flex-column flex-sm-row" id="deliveryTabs" role="tablist">

        <% if(typeof(hidePreAlert) !=='undefined' && !hidePreAlert) { %>
        <li class="nav-item">
            <a class="nav-link <% if(typeof(pane) !== 'undefined' && pane != 'track') { %>active<% } %>" id="delivery-prealert-tab"
                data-toggle="tab" href="#delivery-prealert-pane" role="tab" aria-controls="new" aria-selected="false">
                <%- include('../assets/symbols/notification.svg') %>Pre-Alert
            </a>
        </li>
        <% } %>
        <li class="nav-item">
            <a class="nav-link <% if(typeof(pane) !== 'undefined' && pane == 'track') { %>active<% } %>"
                id="delivery-track-tab" data-toggle="tab" href="#delivery-track-pane" role="tab" aria-controls="all"
                aria-selected="true">
                <%- include('../assets/symbols/location.svg') %>Track
            </a>
        </li>
    </ul>
    <div class="tab-content" id="deliveryTabContent">
        <% if(typeof(hidePreAlert) !== 'undefined' && !hidePreAlert) { %><%- include('./_delivery_prealert.ejs') %><% } %>
        <%- include('./_delivery_track.ejs') %>
    </div>
</div>