<div class="form-group form-inline">
    <div class="input-group mb-3">
        <label>Email address</label>
        <input class="form-control space-right-05" type="email" name="email" value="<% if(typeof(email) !== 'undefined' && email && email.value) { %><%= email.value %><% } %>">
    </div>
</div>