<div class="tab-pane fade <% if(typeof(pane) !== 'undefined' && pane == 'inv') { %>show active<% } %>" id="invite-pane"
    role="tabpanel" aria-labelledby="invite-tab">
    <h2 class="pane-h2">Invite Users</h2>
    <div class="tab-content" id="inviteTabContent">
    </div>
</div>