<div class="tab-pane fade <% if(typeof(pane) !== 'undefined' && pane == 'or') { %>show active<% } %>" id="orders-pane"
    role="tabpanel" aria-labelledby="orders-tab">
    <h2 class="pane-h2">Order History</h2>
    <section class="standard-form-section">
        <form id="orders-form" class="standard-form" autocomplete="off" action="/user/account" method="POST" oninput=""
            novalidate>
            <fieldset <% if(typeof(disabledForms) !== 'undefined' && disabledForms.orders) { %> disabled="disabled"
                <% } %>>
                <input type="hidden" name="id" value="or">

                <input type="hidden" name="uid"
                    value="<% if(typeof(user.id) !== 'undefined') { %><%= user.id %><% } %>">
                <% if(typeof(csrfToken) !== 'undefined') { %><input type="hidden" name="_csrf" value="<%= csrfToken %>"><% } %>
            </fieldset>
        </form>
    </section>
</div>