<div class="tab-pane fade <% if(typeof(pane) !== 'undefined' && pane == 'staff') { %>show active<% } %>" id="staff-pane"
    role="tabpanel" aria-labelledby="staff-tab">
    <h2 class="pane-h2">Staff</h2>
    <div class="tab-content" id="staffTabContent">
    </div>
</div>