<div class="form-group form-inline">
    <div class="input-group mb-3">
        <label>Website</label>
        <input class="form-control space-right-05" type="website" name="website" value="<% if(typeof(website) == 'string' && website != '') { %><%= website %><% } %>">
    </div>
</div>