/*
* Style sheet for desktop screen sized devices
*/


#find::placeholder {
    color: var(--main-text-legend-color);
    /* color: rgb(206, 212, 218); */
}


.form-control:focus {
    border-color: var(--main-nav-neutral-color) !important;
    box-shadow: 0 0 0 .2rem var(--main-nav-highlight-focus-color);
}

.tooltip-inner {
    background-color: var(--main-nav-highlight-color);
    color: var
}

.bs-tooltip-auto[x-placement^=bottom] .arrow::before,
.bs-tooltip-bottom .arrow::before {
  border-bottom-color: var(--main-nav-highlight-color);
}

.qty-spc-top-1, .spc-top-1 {
    margin-top: 1rem;
}

.qty-spc-top-1 {
    color: var(--main-text-legend-color);
}

.spc-left-1 {
    margin-left: 1rem;
}

.right {
    float: right;
    text-align: right;
}

.small-icon {
    width: 1rem;
}

.icon {
    background: transparent;
    border: none;
    height: 2rem;
    padding: 0;
}

.icon path {
    fill: var(--icon-default-color);
    stroke: var(--icon-default-color);
}

.medium-icon {
    width: 4rem;
}

.large-icon {
    width: 8rem;
}

.extra-large-icon {
    width: 8rem;
}

.action-button-section {
    display: flex;
    flex-direction: column;
    width: 3rem;
}

.action-icon svg {
    height: 1rem;
    margin: 1rem;
    background: none;
    border: none;
}

.action-icon:hover path {

    /* stroke: var(--main-highlight-color); */
    stroke: var(--main-text-em-color);
}

.action-icon-button {
    background: none;
    border:none;
}

.tick-icon path {
    fill: none;
    stroke: var(--green-light-color);
}

.reactivate-icon path {
    stroke: var(--green-light-color);
    fill: var(--green-light-color);
}

.reactivate-icon:hover path {
    fill: var(--main-text-em-color);
}

.delete-icon path {
    fill: none;
    stroke:  var(--icon-delete-color);
}

.delete-icon:hover path {
    stroke: var(--main-alert-err-em-color);
    fill: var(--main-alert-err-em-color);
}

.close-icon path {
    stroke:  var(--icon-delete-color);
    fill: var(--icon-delete-color);
}

.close-icon:hover path {
    stroke: var(--main-alert-err-em-color);
    fill: var(--main-alert-err-em-color);
}

.close-highlight-onhover-icon:hover path {
    stroke: var(--main-alert-err-em-color);
    fill: var(--main-alert-err-em-color);
}

.input-prepend-icon svg {
    height: 1rem;
}

.input-prepend-icon:hover svg {
    fill: var(--main-highlight-color);
    stroke: var(--main-highlight-color);
}

.space-right-05 {
    margin-right: 0.5rem;
}

#main-search-form {
    margin: 0 2rem 0 2rem;
    width: 65%;
    z-index: 10;
}

.search-button-container {
    display: none;
    margin: 0;
    padding: 0;
    visibility: hidden;
}

.search-button-container ul {
    margin: 0;
    padding: 0;
}

.activate-search-button, .activate-search-button:hover, .activate-search-button:active {
    background: none;
    border: none;
    box-sizing: border-box ;
    cursor: pointer;
    margin: 0px;
    padding: 0px;
    word-wrap:break-word;
}

.activate-search-button:active svg {
    fill: var(--main-highlight-color);
    stroke: var(--main-highlight-color);
}

#find {
    /*border: 1px solid var(--main-highlight-color);*/
    color: var(--main-text-highlight-bold-color);
    font-family: Quicksand;
    text-align: center;
}

.responsive-search-form {
    align-items: center;
    display: none;
    left: 0;
    margin: 0;
    opacity: 1;
    position: relative;
    vertical-align: middle;
}

#signin-fb, #signin-google, #signin-apple, #signin-ms {
    background-color: transparent;
    border-color: var(--signin-with-btn-border-color);
    /*box-shadow: 0 0 0 1px rgba(63,63,68,0.05),0 1px 3px 0 rgba(63,63,68,0.15);*/
    color: var(--main-text-color);
    /*
    background-color: #495d66;
    border-color: #ced4da;
    color: #f7f7f7;
    */
    width: 100%;
}

#signin-fb:hover, #signin-google:hover, #signin-apple:hover, #signin-ms:hover {
    /*
    background-color: #263237;
    background-color: #f9f9f7;
    color: #f7f7f7;
    */
    background-color: var(--signin-with-btn-bg-color);
    /*border-color: #263237;*/
    color: var(--signin-with-btn-text-color);
}

.main-alert {
    border-radius: 0 !important;
}

.container {
    max-width: 100%;
    padding: 0;
    overflow-y: scroll;
    transition: ease-in 0.25s;;
    width: calc(100% - 4rem);
    z-index: 1;
}

.menu {
    margin: 0;
    padding: 0 2rem 0 2rem;
    width: 100%;
}

.menu-main {
    align-items: center;
    display: flex;
    transition: ease 0.25s;
    justify-content: left;
    width: 50%;
    z-index: 10;
}

.hide-menu-main {
    display: none;
}

.menu-main-navigation .icon {
    height: 1.75rem !important;
}

.form-group {
    margin: 0;
}

.error-message {
    font-size: 4rem !important;
}

.error-code {
    font-size: 2rem;
}

.error-msg h1, .header-banner h1 {
    font-size: 6rem;
    text-align: center;
}

.error-msg b {
    color: var(--main-alert-err-color);
}

.error-msg p {
    text-align: center;
}

.error-msg a {
    color: var(--main-text-em-color);
    font-size: 1.25rem;
}

#signin-button, #signup-button {
    width: 100%;
}

.authenticate-with, .form-callout {
    margin: 0 auto;
    position: relative;
    text-align: center;
    width: 100%;
}

.refer-to-signup, .resend-verification {
    text-align: left;
}

.refer-to-signin {
    margin-top: 1rem;
}

.signin-legend, .signup-legend, .form-callout-legend {
    color: var(--main-text-color);
    font-size: 0.8rem;
    text-align: left;
}

.signin-link {
    font-weight: normal;
    text-decoration: underline;
}

.signup-link {
    font-size: 0.8rem;
    font-weight: bold;
    text-decoration: underline;
}

.signup-section, .signin-section, .standard-form-section {
    display: flex;
    margin: 4rem auto;
    position: relative;
    width: 80%;
}

.standard-form-section {
    display: block;
}

.signup-form, .signin-form, .standard-form {
    margin: auto;
    max-width: 38%;
    width: 38%;
}

.standard-form {
    margin-top: 1rem;
    max-width: 68%;
    width: 65%;
}

.standard-form label {
    margin-left: 1rem;
    margin-right: 1rem;
}

.standard-edit-form {
    margin: 1rem;
    max-width: 100%;
    width: 80%;
}

.signin-form {
    margin: auto;
}

.sidebar-item {
    background: transparent;
}

.header-banner {
    display: block;
    margin: 4rem auto;
    position: relative;
    width: 80%;
}

.nav-links {
    background-color: var(--nav-bg-color);
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    width: 50%;
    z-index: 1;
}

.marketnav {
    justify-content: flex-start;
    margin: 1rem;
    margin-top: 0;
    padding-bottom: 1rem;
}

.marketnav .nav-link.active {
    background: none !important;
    border: none !important;
    border-bottom: var(--main-nav-neutral-color) 2px solid !important;
    border-radius: 0 !important;
    color: var(--main-nav-neutral-color) !important; 
    font-weight: bold !important;
}

.marketnav a {
    color: var(--main-nav-highlight-color);
    font-family: Questrial;
    margin-top: 0.5rem;
    margin-right: 1rem;
    padding-bottom: 0.5rem;
    padding-right: 0;
    padding-left: 0;
}

.marketnav a:hover {
    border-bottom: var(--main-nav-highlight-color) 2px solid !important;
    color: var(--main-nav-highlight-color) !important;
    text-decoration: none;
}


.content-nav-right {
    display: flex;
    justify-content: flex-end;
    margin: 1rem auto;
    max-width: 80%;
}

.market-container .main-panel {
    margin-top: 1rem;
}

.market-container, .shopping-bag-container {
    padding: 0;
    overflow: hidden;
}

.market-pagenav {
    display: flex;
    background: none;
    justify-content: flex-end;
    margin: 1rem auto;
    padding: 0;
    width: 100%;
}

.applogo {
    display: flex;
    margin: 0;
    z-index: 10;
}

.applogo a {
    color: var(--main-text-em-color);
    font-size: 1rem;
    font-weight: normal;
    padding: 0;
}

.applogo a:hover {
    color: var(--main-highlight-color);
    border: none;
    text-decoration: none;
}

.applogo img {
    height: 48px;
}

.logo {
    height: 3rem;
}
/*
.logo path {
    stroke: var(--main-highlight-color);
    fill: var(--main-highlight-color);
}*/

.logo:hover path {
    stroke: var(--main-nav-highlight-color);
    fill: var(--main-nav-highlight-color);
}

.logo .logo-handle:hover {
    fill: none !important;
}

.logo .logo-handle {
    fill: none !important;
}

.menu-button div {
    background-color: var(--icon-default-color);
    height: 2px;
    margin: 5px;
    width: 20px;
    transition: all 0.3s ease;
}

.menu-button {
    display: none;
    margin: 0;
    z-index: 1;
}

.menu-button:hover {
    cursor: pointer;
}

.menu nav {
    z-index: 10;
}

.main-center-section {
    margin: 12rem auto;
    width: 80%;
}

.menu-item-selected {
    border-bottom: var(--main-highlight-color) 2px solid;
    color: var(--main-highlight-color);
}

.menu-item-selected .icon path {
    fill: var(--main-highlight-color);
    stroke: var(--main-highlight-color);
    color: var(--main-highlight-color);
}

.toggle .menu-line1 {
    transform: rotate(-45deg) translate(-3px,2px);
}

.toggle .menu-line2 {
    transform: rotate(45deg) translate(-3px,-2px);
}

.search-button-prepend {
    background-color: var(--nav-btn-color);
    border: 1px solid var(--nav-btn-border-color);
    border-radius: 0;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    width: 3rem;
}

.search-button {
    background-color: var(--nav-btn-color);
    border: 1px solid var(--nav-btn-border-color);
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    width: 3rem;
}

.search-button .icon, .search-button-prepend .icon {
    height: 1.6rem;
    padding: 0.2rem;
}

.search-button .icon path, .search-button-prepend .icon path {
    fill: var(--main-symbol-stroke-color);
    stroke: var(--main-symbol-stroke-color);
}

.search-button:hover path, .search-button-prepend:hover path {
    fill: var(--main-nav-highlight-color);
    stroke: var(--main-nav-highlight-color);
}

.main-panel {
    margin: 2rem auto;
    overflow: hidden;
    padding: 0;
}

.main-content {
    padding: 0;
    padding-left: 1rem;
    padding-right: 1rem;
}

.product-details-content {
    padding: 0;
}

.product-details-content h2, h4 {
    font-family: Questrial;
}

.product-details-content p {
    font-family: Quicksand;
}

.content-pane {
    background-color: var(--main-content-bg-color);
    border-radius: 0.25rem;
    padding: 1rem;
}

.content-pane p {
    font-family: Quicksand;
}

.marketplace {
    padding: 0
}

.shopping-bag-content {
    padding: 0;
}

.marketplace-content-pane {
    border-radius: 0.25rem;
    padding: 0;
}

.shopping-bag-content-pane {
    padding: 1rem;
}

.shopping-bag-header {
    border-bottom: 1px solid var(--main-sub-border-color);
    padding-bottom: 4rem;
    padding-top: 1rem;
    text-align: center;
}

.shopping-bag-footer {
    display: flex;
    justify-content: flex-end;
    padding: 2rem 1rem 1rem;
}

.shopping-bag-checkout {
    margin-top: 1.6rem;
}

.shopping-bag-legend {
    color: var(--main-text-legend-color);
    font-size: 0.8rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    text-align: center;
}

.pane-h2 {
    color: var(--main-text-color);
}

.tab-pane {
    margin: 1rem;

}

.tab-pane-h2 {
    color: var(--main-text-color);
}

.tab-scroll-pane {
    margin: 0 auto;
    max-width: 80%;
    overflow-x: scroll;
    position: relative;
}

.address-table, .emails-table, .phone-numbers-table {
    width: 100%;
}

.red-alert {
    color: var(--main-alert-err-em-color);
}

.sidebar .active .icon path {
    
    fill: var(--sidebar-icon-highlight-color);
    stroke: var(--sidebar-icon-highlight-color);
    /*
    background: white;
    border-radius: 50%;
    */
}

.tab-pane .icon, .tab-pane svg, .nav-link .icon {
    background: transparent;
    border-radius: 0;
    padding: 0;
}

.nav-link.active .icon path {
    fill: var(--main-nav-highlight-color);
    stroke: var(--main-nav-highlight-color);
}

.content-pane-scroll-cards-section {
    clear: both;
}

.content-pane-scroll-cards-section .card {
    border: none;
    border-radius: 0;
    border-top: 1px solid var(--main-sub-border-color);
    margin-top: 1rem;

}

.content-pane-scroll-cards-section .product-card {
    margin-top: 0;
}

.content-pane-scroll-cards-section ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
}

.content-pane-scroll-cards-section li {
    display: flex;
    margin: 1rem 0;
}

.content-pane-scroll-cards-section svg {
    height: 1rem;
}

.actionable-card-pane {
    display: flex!important;
    justify-content: space-between!important;
}

#address-table th, td {
white-space: nowrap;
}

.catalog-card {
    display: block;
    margin-top: 1rem;
    position: relative;
    width: 100%;
}

.catalog-card .row {
    justify-content: space-around;
    margin: 0;
}

.catalog-card .row h3 {
    margin: 1rem;
    text-align: center;
    width: 100%;
}

.catalog-card-header {
    display: flex;
    justify-content: space-around;
    margin: 0;
    width: 100%;
}

.catalog-shop-product-listing {
    padding: 1rem;
}

.catalog-shop-product-listing-container {
    display: flex;
    flex-flow: wrap;
    padding: 1rem;
    /* border-top: 1px solid var(--main-sub-border-color); */
}

.catalog-shop-product-listing-container label {
    margin: 0.5rem;
}

.catalog-item-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    position: relative;
}

.catalog-item-card {
    display: flex;
    flex-basis: 30%;
    margin-left: 1.6%;
    margin-right: 1.6%;
    max-width: 30%;
    position: relative;
    text-align: center;
    width: 30%;
}

.catalog-view-card-pane {
    width: 100%;
}

.catalog-view-card-pane span{
    width: 100%;
}

.catalog-item-image {
    height: auto;
    margin: 0;
    margin-bottom: 0.5rem;
    width: 100%;
}
.catalog-item-image svg {
    height: auto;
    margin: 0;
    width: 100% !important; 
}

.catalog-delete-section {
    /*border-top: 1px solid var(--main-border-color);*/
    display: block;
    justify-content: space-around;
    margin-top: 2rem;
    width: 100%;
}

.catalog-delete-section-header {
    border-top: 1px solid var(--main-border-color);
    margin-bottom: 1rem;
    padding-top: 2rem;
    width: 100%;
}

.catalog-delete-section-header h2 {
    color: var(--icon-delete-color);
    font-weight: bold;
}

.product-card-container {
    background-color: var(--main-content-bg-color);
    justify-content: flex-start;
    left: -2rem;
    padding: 1rem;
    top: -1rem;
    width: calc(100% + 4rem);
}

.product-card {
    border: none !important;
    flex-basis: calc(25% - 4rem);
    margin: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
    max-width: calc(25% - 4rem);
    overflow: hidden;
}

.product-card-double {
    flex-basis: calc(50% - 4rem);
    max-width: calc(50% - 4rem);
}

.product-card-single {
    flex-basis: calc(100% - 4rem);
    max-width: calc(100% - 4rem);
}

.product-card:hover {
    /*background-color: var(--product-card-highlight-color);*/
    box-shadow: rgba(210, 215, 219, 0.08) 8px 14px 38px, rgba(39, 44, 49, 0.05) 1px 3px 8px;
    cursor: pointer;
    text-decoration: none;
    transition: ease-in 0.25s;
}

.product-card:hover .item-card-label {
    color: var(--main-highlight-color);
    transition: ease-in 0.25s;
}

.product-card p.item-card-label {
    background-color:transparent;
    color: var(--main-nav-highlight-bold-color);
    transition: ease-in 0.25s;
}

.product-card .item-card-label b {
    /*border-bottom: 1px solid var(--main-sub-border-color);*/
    color: var(--main-text-color);
    /*color: var(--sidebar-icon-highlight-color);*/
    font-family: Gafata;
    font-weight: 600;
}

.product-card:hover .item-card-label b {
    /*color: var(--main-nav-highlight-bold-color);*/
    color: var(--sidebar-icon-highlight-color);
}

.product-card:hover .product-card-image {
    transition: ease-in 0.25s;
    opacity: 0.65;
}

.product-card-image {
    display: block;
    height: 16rem !important;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    overflow: hidden;
    position: relative;
    width: calc(100%) !important;
}

.product-card:hover p.item-card-label {
    background-color: var(--main-highlight-color);
    color: var(--sidebar-icon-highlight-color);
    padding: 0.5rem;
}

.product-card img {
    height: auto;
    left: 50%;
    margin: 0;
    margin-bottom: 0.5rem;
    max-height: 16rem !important;
    max-width: 100% !important;
    position: absolute;
    top: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: auto;
}
.product-card svg {
    height: auto;   
    max-width: 100% !important;
    max-height: 100% !important;
    margin: 0;
    width: auto;
}

.product-card svg path {
    stroke: var(--icon-default-color);
    fill: var(--icon-default-color);
}

.product-carousel {
    padding: 0;
    width: 100%;
}

.product-card .extra-info {
    border: none;
}

.product-carousel-images-row {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    margin-top: -1rem;
}

.product-carousel .featured-image {
    height: auto !important;
    max-width: calc(100% - 2rem) !important;
    min-height: 24rem;
    min-width: 20rem;
    transition: ease 0.25s;
    width: calc(100% - 2rem) !important;
}

.product-details-card {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 2rem;
}

.product-details-card li {
    display: flex;
    list-style: none;
    margin: 1rem;
}

.product-quantity-input {
    margin-right: 1rem !important;
    width: 6rem !important;
}

.product-specifications-table {
    display: table;
    margin: 1rem;
    max-width: calc(100% - 2rem) !important;
    position: relative;
    overflow: hidden;
    table-layout: fixed;
    width: calc(100% - 2rem) !important;
}

.product-specifications-table td {
    white-space: normal;
    width: 50% !important;
}

.product-specifications-table .table-content {
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.product-specifications-table tr {
    display: table-row;
    max-width: 100%;
    width: 100%;
}

.add-to-bag-button {
    margin-right: 1rem;
}

.sidebar svg {
    margin-right: 1rem;
}

.featured-image {
    background-color: transparent; /*var(--nav-btn-color);*/
    border-radius: 0.25rem;
    display: block;
    height: 24rem !important;
    margin: 1rem;
    overflow: hidden;
    position: relative;
    width: 16rem !important;
}

.featured-image img{
    clip-path: inset(0);
    height: auto !important;
    margin: 0;
    max-height: 100% !important;
    max-width: 100% !important;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: auto !important;
}

.featured-image svg {
    height: 20rem !important;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: auto !important;
}

.edit-featured-image img {
    margin: 0;
    position: absolute;
    top: 0;
    left: 50%;
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

.edit-featured-image svg {
    margin: 0;
    position: absolute;
    top: 0;
    left: 50%;
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

.featured-image svg path {
    stroke: var(--icon-default-color);
    fill: var(--icon-default-color);
}

.featured-mini-image {
    background-color: var(--nav-btn-color);
    border-radius: 0.25rem;
    display: block;
    height: 2rem !important;
    margin: 0;
    margin-left: 1rem;
    margin-top: 0.5rem;
    overflow: hidden;
    position: relative;
    width: 2rem !important;
}

.featured-mini-image:hover {
    cursor: pointer;
    opacity: 0.6;
}

.featured-mini-image-selected {
    border: 2px solid var(--main-highlight-color);
    cursor: pointer;
    opacity: 0.6;
}

.featured-mini-image img {
    clip-path: inset(0);
    height: auto !important;
    margin: 0;
    max-height: 2rem !important;
    max-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: auto !important;
}

.featured-mini-image svg {
    height: 2rem !important;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: auto !important;
}

.featured-image-legend {
    color: var(--main-text-color);
    font-size: 0.8rem;
    text-align: center !important;
    margin: 1rem;
}

.shop-hero {
    margin: 0 !important;
    overflow: hidden;
    width: 100% !important;
}

.shop-hero img {
    height: max-auto !important;
    max-height: unset !important;
    width: 100% !important;
}

.shop-hero-legend {
    margin: 0.5rem;
}

.shopping-bag-counter {
    background-color: var(--icon-default-color);
    border-radius: 0.5rem;
    color: var(--main-content-btn-hover-color);
    cursor: pointer;
    font-size: 0.7rem;
    /*font-weight: 700;*/
    line-height: 1;
    left: -25%;
    padding: 0.05rem 0.2rem 0.05rem;
    position: relative;
    top: 50%;
    z-index: 11;
    transition: color .15s ease-in-out,background-color .15s ease-in-out, border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
}

.shopping-bag-counter:hover {
    background-color: var(--main-nav-highlight-color);
}

.nav-menu-item-selected .shopping-bag-counter {
    background-color: var(--main-highlight-color);
}

.nav-link-item:hover .shopping-bag-counter, .nav-menu-item-selected:hover .shopping-bag-counter {
    background-color: var(--main-nav-highlight-color);
}

.shopping-bag-item-card {
    border-bottom: 1px solid var(--main-border-color);
    padding: 1rem;
}

.shopping-bag-item-card:hover {
    background: var(--main-table-row-highlight-color);
   /* background-color: var(--main-highlight-light-color); */
    color: var(--sidebar-icon-highlight-color);
    transition: ease 0.25s;
}

.shopping-bag-item-card:hover .qty-spc-top-1 {
    color: var(--main-nav-highlight-color);
}


.shopping-bag-item-card:hover .shopping-bag-item-row figure {
    opacity: 0.6;
}

.shopping-bag-item-card-divider {
    width: 100%;
}

.shopping-bag-item-product-link:hover {
    text-decoration: none !important;
}

.shopping-bag-item-image {
    margin: 0.5rem;
}

.shopping-bag-item-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    transition: ease 0.25s;
}

.shopping-bag-item-row:hover {
    /*background-color: var(--main-table-row-highlight-color);*/
    color: var(--main-nav-highlight-color);
    cursor: pointer;
    transition: ease 0.25s;
    text-decoration: none !important;
}

.shopping-bag-item-row:hover figure {
    opacity: 0.6;
}

.shopping-bag-item-name {
    max-width: 25%;
    width: 25%;
}

.remove-from-bag-button-container {
    margin-bottom: 1rem;
}

.remove-from-bag-button {
    float: right;
}

.static-svg-image-object {
    height: 8rem;
    min-height: 8rem;
    min-width: 8rem;
}

 .shopping-bag-product-image img, .shopping-bag-product-image svg, .shopping-bag-product-image object {
    display: block;
    height: auto;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    max-height: 8rem !important;
    max-width: 8rem !important;
    overflow: hidden;
    position: relative;
    width: auto;
}

.shopping-bag-product-image svg {
    height: 8rem;
}

.search-results .item-card {
    border-bottom: 1px solid var(--main-border-color);
    padding: 1rem;
}

.search-results .item-card:hover {
    background: var(--main-table-row-highlight-color);
    color: var(--main-nav-highlight-color);
    transition: ease 0.25s;
}

.search-results .item-card:hover .extra-info {
    color: var(--main-nav-highlight-color);
}

.search-results .item-card:hover .item-card-title {
    color: var(--main-nav-highlight-color);
}

.search-results .item-card:hover .item-image-container {
    opacity: 0.6;
}

.search-results .item-card-left {
    margin-right: 1rem;
}

.search-results .extra-info {
    padding-bottom: 1rem;
}

.search-results .item-image-container {
    height: 4rem;
    margin-left: 1rem;
    max-width: 4rem;
    overflow: hidden;
    width: 4rem;
}

.search-results-image {
    display: block;
    height: 4rem !important;
    margin: 0;
    overflow: hidden;
    position: relative;
    width: 4rem !important;
}

.search-results-image img, .search-results-image svg {
    display: block;
    height: auto;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    max-height: 3.5rem !important;
    max-width: 3.5rem !important;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: auto !important;
    
}

.search-results-image svg {
    height: 4rem;
}

.search-results-control-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.hide-search-results {
    display: none !important;
}

.text-legend {
    color: var(--main-text-color);
    font-size: 0.8rem;
    text-align: left;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.delete-modal-legend {
    color: var(--main-text-color);
    text-align: center !important;
    margin: 1rem;
}

#account-settings-tab-content svg, #seller-tab-content svg {
    margin-right: 1rem;
    width: 1rem;
}

.new-address-form-section {
    margin-top: 2rem;
}

.add-address-link, .add-storefront-link {
    background-color: var(--main-bg-color);
    border-radius: 0.25rem;
    margin-right: 5.25rem;
    padding: 0.25rem 0.5rem;
}

.add-address-link:hover, .add-storefront-link:hover {
    /*border-bottom: var(--main-text-em-color) 2px solid;*/
    background-color: var(--main-content-btn-hover-color);
    color: var(--main-text-color);
    text-decoration: underline;
}

.add-address-link:hover path, .add-storefront-link:hover path {
    stroke: var(--main-text-color);
}

.add-address-link svg, .add-storefront-link svg {
    margin: 0.2rem !important;
}

.add-storefront-link {
    margin-right: 0;
}

#new-address-form {
    margin-top: 2rem;
}

#phone-number-form {
    max-width: 100%;
    width: 100%;
}

#catalog-select, #shop-select, #storefront-select, #product-status-select, #product-filter-select, #catalog-add-product-shop-select {
    margin-left: 1rem;
    margin-right: 1rem;
}

.catalog-add-product-shop-select {
    margin-left: 1rem;
    margin-right: 1rem;
}

.catalog-add-shop-select-label {
    margin-right: 1rem;
}

.card-filter-section {
    display: flex;
    margin: 0 auto;
    max-width: 80%;
    overflow-x: scroll;
    position: relative;
}

.card-filter-selector {
    margin: 1rem 0;
}

.catalog-selector {
    display: flex;
    justify-content: space-between;
}

.create-catalog-link {
    margin: 0;
}

.catalog-select-shop-section {
    display: flex;
    justify-content: space-between;
}

.catalog-shop-product-select-section {
    width: 100%;
}

.catalog-shop-product-select-section h4 {
    margin: 1rem;
}

.space-between {
    justify-content: space-between;
}

.add-action-button-section {
    margin: 1rem 0;
}

.storefront-image {
    border-style: none;
    border-radius: 50%;
    height: 4rem;
    margin: 0.5rem 1rem;
    width: 4rem;
}

.storefront-image svg {
    height: 4rem !important;
    margin: 0 !important;
    width: 4rem !important;
}

.card-product-image {
    border-style: none;
    height: 4rem;
    margin: 0.5rem 1rem;
    /*width: 4rem;*/
}

.card-product-image svg {
    height: 4rem !important;
    width: 4rem !important;
    margin: 0 !important;
}

.item-card {
    display: flex;
}

.item-card-label {
    /*border-bottom: 1px solid var(--main-sub-border-color);*/
    margin-bottom: 0.5rem;
    padding-bottom: 1rem;
}

.item-card .extra-info {
    border-top: none;
}

.extra-info {
    border-top: 1px solid var(--main-sub-border-color);
    color: var(--main-sub-text-color);
    padding-top: 1rem;
}

.extra-info h4 {
    font-size: 1rem;
    font-weight: bold;
}

.item-head-foot-card {
    border: none !important;
}

#specifications-add-button-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#product-specification-button {
    margin-left: 1rem;
}

.spec-item-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.spec-item-form-control {
    max-width: calc(100% - 3rem);
    width: auto;
}

.spec-input {
    height: 3rem;
}

.price-label {
    margin-left: 1rem;
    margin-right: 1rem;
}

.edit-heading-span {
    display: flex;
    justify-content: space-between;
    margin-right: 0.5rem;
}

.menu-main-navigation {
    z-index: 9;
}

.save-button .icon path {
    stroke: var(--sidebar-icon-highlight-color);
    fill: var(--sidebar-icon-highlight-color);
}