/* Global style variables */
:root {
  --main-highlight-color: #007bff;
  --main-border-color: rgba(0,0,0,.1);
  --main-sub-border-color: rgba(0,0,0,.125);
  --main-bg-color: #f4f4f4;
  --main-text-color: #444;
  --main-text-em-color: black;
  --main-sub-text-color: rgb(96,96,96);
  --main-alert-err-color: #be4e3b;
  --main-alert-err-em-color: red;
  --main-content-bg-color: white;
  --main-content-btn-hover-color: #e9ecef;
  --signin-with-btn-border-color: #c4cdd5;
  --signin-with-btn-bg-color: #f9fafb;
  --signin-with-btn-text-color: #263237;
  --main-nav-highlight-color: black;
  --nav-bg-color: white;
  --nav-btn-color: #eff1f4;
  --nav-btn-border-color: #ced4da;
  --sidebar-icon-highlight-color: white;
  --green-light-color: #28a745;
  --icon-delete-color: #cb2431;
  --product-card-highlight-color: #f9fafb;
}

* {
    box-sizing: border-box ;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--main-bg-color);
}

nav h4  {
    /*letter-spacing: 0.1rem;*/
    font-size: 1.5rem;
}

nav h4 a {
    color: var(--main-text-color);
}

nav h4 a:hover {
    border: none;
    color: var(--main-text-em-color);
}

nav a:hover .icon path {
    fill: var(--main-nav-highlight-color);
    stroke: var(--main-nav-highlight-color);
}

nav a:hover {
    border-bottom: var(--main-text-em-color) 2px solid;
    color: var(--main-text-em-color);
    text-decoration: none;
}

nav a {
    font-size: 1rem;
    padding-bottom: 1rem;
    text-decoration: none;
    vertical-align: middle;
}

nav li {
    list-style: none;
}

nav {
    align-items: center;
    background-color: var(--nav-bg-color);
    display: flex;
    justify-content: space-around;
    min-height: 4rem;
}

li a {
    color: var(--main-text-color);
    /*color: #979898;*/
}

a {
    color: var(--main-text-color);
}

a:hover {
    color: var(--main-text-em-color);
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
bottom: .5em;
}

figure {
    border: none;
    margin: 0;
}

svg {
    border: none;
}

.right {
    float: right;
    text-align: right;
}

.small-icon {
    width: 1rem;
}

.icon {
    background: transparent;
    border: none;
    height: 2rem;
    padding: 0;
}

.medium-icon {
    width: 4rem;
}

.large-icon {
    width: 8rem;
}

.extra-large-icon {
    width: 8rem;
}

.action-button-section {
    display: flex;
    flex-direction: column;
    width: 3rem;
}

.action-icon svg {
    height: 1rem;
    margin: 1rem;
    background: none;
    border: none;
}

.action-icon:hover path {

    /* stroke: var(--main-highlight-color); */
    stroke: var(--main-text-em-color);
}

.action-icon-button {
    background: none;
    border:none;
}

.tick-icon path {
    stroke: var(--green-light-color);
}

.reactivate-icon path {
    stroke: var(--green-light-color);
    fill: var(--green-light-color);
}

.reactivate-icon:hover path {
    fill: var(--main-text-em-color);
}

.delete-icon path {
    stroke:  var(--icon-delete-color);
}

.delete-icon:hover path {
    stroke: var(--main-alert-err-em-color);
    fill: var(--main-alert-err-em-color);
}

.close-icon path {
    stroke:  var(--icon-delete-color);
    fill: var(--icon-delete-color);
}

.close-icon:hover path {
    stroke: var(--main-alert-err-em-color);
    fill: var(--main-alert-err-em-color);
}

.close-highlight-onhover-icon:hover path {
    stroke: var(--main-alert-err-em-color);
    fill: var(--main-alert-err-em-color);
}

.input-prepend-icon svg {
    height: 1rem;
}

.input-prepend-icon:hover svg {
    fill: var(--main-highlight-color);
    stroke: var(--main-highlight-color);
}

.space-right-05 {
    margin-right: 0.5rem;
}

#main-search-form {
    margin: 0 2rem 0 2rem;
    width: 65%;
    z-index: 10;
}

#find {
    text-align: center;
}

#signin-fb, #signin-google, #signin-apple, #signin-ms {
    background-color: transparent;
    border-color: var(--signin-with-btn-border-color);
    /*box-shadow: 0 0 0 1px rgba(63,63,68,0.05),0 1px 3px 0 rgba(63,63,68,0.15);*/
    color: var(--main-text-color);
    /*
    background-color: #495d66;
    border-color: #ced4da;
    color: #f7f7f7;
    */
    width: 100%;
}

#signin-fb:hover, #signin-google:hover, #signin-apple:hover, #signin-ms:hover {
    /*
    background-color: #263237;
    background-color: #f9f9f7;
    color: #f7f7f7;
    */
    background-color: var(--signin-with-btn-bg-color);
    /*border-color: #263237;*/
    color: var(--signin-with-btn-text-color);
}

.main-alert {
    border-radius: 0 !important;
}

.container {
    max-width: 100%;
    overflow-y: scroll;
    width: calc(100% - 4rem);
    z-index: 1;
}

.menu {
    margin: 0;
    padding: 0 2rem 0 2rem;
    width: 100%;
}

.menu-main {
    align-items: center;
    display: flex;
    justify-content: left;
    width: 50%;
    z-index: 10;
}

.menu-main-navigation .icon {
    height: 1.75rem !important;
}

.form-group {
    margin: 0;
}

.error-message {
    font-size: 4rem !important;
}

.error-code {
    font-size: 2rem;
}

.error-msg h1, .header-banner h1 {
    font-size: 6rem;
    text-align: center;
}

.error-msg b {
    color: var(--main-alert-err-color);
}

.error-msg p {
    text-align: center;
}

.error-msg a {
    color: var(--main-text-em-color);
    font-size: 1.25rem;
}

#signin-button, #signup-button {
    width: 100%;
}

.authenticate-with, .form-callout {
    margin: 0 auto;
    position: relative;
    text-align: center;
    width: 100%;
}

.refer-to-signup, .resend-verification {
    text-align: left;
}

.refer-to-signin {
    margin-top: 1rem;
}

.signin-legend, .signup-legend, .form-callout-legend {
    color: var(--main-text-color);
    font-size: 0.8rem;
    text-align: left;
}

.signin-link {
    font-weight: normal;
    text-decoration: underline;
}

.signup-link {
    font-size: 0.8rem;
    font-weight: bold;
    text-decoration: underline;
}

.signup-section, .signin-section, .standard-form-section {
    display: flex;
    margin: 4rem auto;
    position: relative;
    width: 80%;
}

.standard-form-section {
    display: block;
}

.signup-form, .signin-form, .standard-form {
    margin: auto;
    max-width: 38%;
    width: 38%;
}

.standard-form {
    margin-top: 1rem;
    max-width: 68%;
    width: 65%;
}

.standard-form label {
    margin-left: 1rem;
    margin-right: 1rem;
}

.standard-edit-form {
    margin: 1rem;
    max-width: 100%;
    width: 80%;
}

.signin-form {
    margin: auto;
}

.sidebar-item {
    background: transparent;
}

.header-banner {
    display: block;
    margin: 4rem auto;
    position: relative;
    width: 80%;
}

.nav-links {
    background-color: var(--nav-bg-color);
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    width: 50%;
    z-index: 1;
}

.content-nav-right {
    display: flex;
    justify-content: flex-end;
    margin: 1rem auto;
    max-width: 80%;
}

.market-container {
    padding: 0;
}

.market-pagenav {
    display: flex;
    background: none;
    justify-content: flex-end;
    margin: 1rem auto;
    padding: 0;
    width: calc(100% - 2em);
}

.applogo {
    display: flex;
    margin: 0;
    z-index: 10;
}

.applogo a {
    color: var(--main-text-em-color);
    font-size: 1rem;
    font-weight: normal;
    padding: 0;
}

.applogo a:hover {
    color: var(--main-text-color);
    border: none;
    text-decoration: none;
}

.applogo img {
    height: 48px;
}

.logo {
    height: 3rem;
}

.logo:hover path {
    stroke: var(--main-text-em-color);
    fill: var(--main-text-em-color);
}

.logo .logo-handle:hover {
    fill: none !important;
}

.logo .logo-handle {
    fill: none !important;
}

.menu-button div {
    background-color: var(--main-text-color);
    height: 2px;
    margin: 5px;
    width: 20px;
    transition: all 0.3s ease;
}

.menu-button {
    display: none;
    margin: 0;
    z-index: 1;
}

.menu-button:hover {
    cursor: pointer;
}

.menu nav {
    z-index: 10;
}

.main-center-section {
    margin: 12rem auto;
    width: 80%;
}

.menu-item-selected {
    border-bottom: var(--main-highlight-color) 2px solid;
    color: var(--main-highlight-color);
}

.menu-item-selected .icon path {
    fill: var(--main-highlight-color);
    color: var(--main-highlight-color);
}

.toggle .menu-line1 {
    transform: rotate(-45deg) translate(-3px,2px);
}

.toggle .menu-line2 {
    transform: rotate(45deg) translate(-3px,-2px);
}

.search-button {
    background-color: var(--nav-btn-color);
    border: 1px solid var(--nav-btn-border-color);
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    width: 3rem;
}

.search-button .icon {
    height: 1.6rem;
    padding: 0.2rem;
}

.search-button:hover path {
    fill: var(--main-highlight-color);
    stroke: var(--main-highlight-color);
}

.main-panel {
    margin: 2rem auto;
}

.content-pane {
    background-color: var(--main-content-bg-color);
    border-radius: 0.25rem;
    padding: 1rem;
}

.marketplace {
    padding: 0
}

.marketplace-content-pane {
    border-radius: 0.25rem;
    padding: 1rem;
}

.pane-h2 {
    color: var(--main-text-color);
}

.tab-pane {
    margin: 1rem;

}

.tab-pane-h2 {
    color: var(--main-text-color);
}

.tab-scroll-pane {
    margin: 0 auto;
    max-width: 80%;
    overflow-x: scroll;
    position: relative;
}

.address-table, .emails-table, .phone-numbers-table {
    width: 100%;
}

.red-alert {
    color: var(--main-alert-err-em-color);
}

.sidebar .active .icon path {
    
    fill: var(--sidebar-icon-highlight-color);
    stroke: var(--sidebar-icon-highlight-color);
    /*
    background: white;
    border-radius: 50%;
    */
}

.tab-pane .icon, .tab-pane svg, .nav-link .icon {
    background: transparent;
    border-radius: 0;
    padding: 0;
}

.nav-link.active .icon path {
    fill: var(--main-highlight-color);
    stroke: var(--main-highlight-color);
}

.content-pane-scroll-cards-section {
    clear: both;
}

.content-pane-scroll-cards-section .card {
    margin-top: 1rem;

}

.content-pane-scroll-cards-section ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
}

.content-pane-scroll-cards-section li {
    display: flex;
    margin: 1rem 0;
}

.content-pane-scroll-cards-section svg {
    height: 1rem;
}

.actionable-card-pane {
    display: flex!important;
    justify-content: space-between!important;
}

#address-table th, td {
white-space: nowrap;
}

.catalog-card {
    display: block;
    margin-top: 1rem;
    position: relative;
    width: 100%;
}

.catalog-card .row {
    justify-content: space-around;
    margin: 0;
}

.catalog-card .row h3 {
    margin: 1rem;
    text-align: center;
    width: 100%;
}

.catalog-card-header {
    display: flex;
    justify-content: space-around;
    margin: 0;
    width: 100%;
}

.catalog-shop-product-listing {
    padding: 1rem;
}

.catalog-shop-product-listing-container {
    display: flex;
    flex-flow: wrap;
    padding: 1rem;
    /* border-top: 1px solid var(--main-sub-border-color); */
}

.catalog-shop-product-listing-container label {
    margin: 0.5rem;
}

.catalog-item-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    position: relative;
}

.catalog-item-card {
    display: flex;
    flex-basis: 30%;
    margin-left: 1.6%;
    margin-right: 1.6%;
    max-width: 30%;
    position: relative;
    text-align: center;
    width: 30%;
}

.catalog-view-card-pane {
    width: 100%;
}

.catalog-view-card-pane span{
    width: 100%;
}

.catalog-item-image {
    height: auto;
    margin: 0;
    margin-bottom: 0.5rem;
    width: 100%;
}
.catalog-item-image svg {
    height: auto;
    margin: 0;
    width: 100% !important; 
}

.catalog-delete-section {
    /*border-top: 1px solid var(--main-border-color);*/
    display: block;
    justify-content: space-around;
    margin-top: 2rem;
    width: 100%;
}

.catalog-delete-section-header {
    border-top: 1px solid var(--main-border-color);
    margin-bottom: 1rem;
    padding-top: 2rem;
    width: 100%;
}

.catalog-delete-section-header h2 {
    color: var(--icon-delete-color);
    font-weight: bold;
}

.product-card-container {
    justify-content: space-between;
    left: -2rem;
    width: calc(100% + 4rem);
}

.product-card {
    border: none;
    flex-basis: calc(25% - 4rem);
    margin: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
    max-width: calc(25% - 4rem);
    overflow: hidden;
}

.product-card-double {
    flex-basis: calc(50% - 4rem);
    max-width: calc(50% - 4rem);
}

.product-card-single {
    flex-basis: calc(100% - 4rem);
    max-width: calc(100% - 4rem);
}

.product-card:hover {
    background-color: var(--product-card-highlight-color);
    box-shadow: rgba(210, 215, 219, 0.08) 8px 14px 38px, rgba(39, 44, 49, 0.05) 1px 3px 8px;
    cursor: pointer;
    transition: ease-in 0.25s;
}

.product-card:hover .item-card-label {
    color: var(--main-highlight-color);
}

.product-card:hover .product-card-image {
    transition: ease-in 0.25s;
    opacity: 0.65;
}

.product-card-image {
    display: block;
    height: 16rem !important;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    overflow: hidden;
    position: relative;
    width: calc(100%) !important;
}

.product-card img {
    height: auto;
    left: 50%;
    margin: 0;
    margin-bottom: 0.5rem;
    max-height: 16rem !important;
    max-width: 100% !important;
    position: absolute;
    top: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: auto;
}
.product-card svg {
    height: auto;
    margin: 0;
    width: 100% !important; 
}

.sidebar svg {
    margin-right: 1rem;
}

.featured-image {
    background-color: var(--nav-btn-color);
    border-radius: 0.25rem;
    display: block;
    height: 16rem !important;
    margin: 1rem;
    overflow: hidden;
    position: relative;
    width: 16rem !important;
}

.featured-image img{
    clip-path: inset(0);
    height: 16rem !important;
    margin: 0;
    max-height: 16rem !important;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.featured-image svg {
    height: 12rem !important;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: auto !important;
}

.featured-image-legend {
    color: var(--main-text-color);
    font-size: 0.8rem;
    text-align: center !important;
    margin: 1rem;
}

.text-legend {
    color: var(--main-text-color);
    font-size: 0.8rem;
    text-align: left;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.delete-modal-legend {
    color: var(--main-text-color);
    text-align: center !important;
    margin: 1rem;
}

#account-settings-tab-content svg, #seller-tab-content svg {
    margin-right: 1rem;
    width: 1rem;
}

.new-address-form-section {
    margin-top: 2rem;
}

.add-address-link, .add-storefront-link {
    background-color: var(--main-bg-color);
    border-radius: 0.25rem;
    margin-right: 5.25rem;
    padding: 0.25rem 0.5rem;
}

.add-address-link:hover, .add-storefront-link:hover {
    /*border-bottom: var(--main-text-em-color) 2px solid;*/
    background-color: var(--main-content-btn-hover-color);
    color: var(--main-text-color);
    text-decoration: underline;
}

.add-address-link:hover path, .add-storefront-link:hover path {
    stroke: var(--main-text-color);
}

.add-address-link svg, .add-storefront-link svg {
    margin: 0.2rem !important;
}

.add-storefront-link {
    margin-right: 0;
}

#new-address-form {
    margin-top: 2rem;
}

#phone-number-form {
    max-width: 100%;
    width: 100%;
}

#catalog-select, #shop-select, #storefront-select, #product-status-select, #product-filter-select, #catalog-add-product-shop-select {
    margin-left: 1rem;
    margin-right: 1rem;
}

.catalog-add-product-shop-select {
    margin-left: 1rem;
    margin-right: 1rem;
}

.catalog-add-shop-select-label {
    margin-right: 1rem;
}

.card-filter-section {
    display: flex;
    margin: 0 auto;
max-width: 80%;
overflow-x: scroll;
position: relative;
}

.card-filter-selector {
    margin: 1rem 0;
}

.catalog-selector {
    display: flex;
    justify-content: space-between;
}

.create-catalog-link {
    margin: 0;
}

.catalog-select-shop-section {
    display: flex;
    justify-content: space-between;
}

.catalog-shop-product-select-section {
    width: 100%;
}

.catalog-shop-product-select-section h4 {
    margin: 1rem;
}

.space-between {
    justify-content: space-between;
}

.add-action-button-section {
    margin: 1rem 0;
}

.storefront-image {
    border-style: none;
    border-radius: 50%;
    height: 4rem;
    margin: 0.5rem 1rem;
    width: 4rem;
}

.storefront-image svg {
    height: 4rem !important;
    margin: 0 !important;
    width: 4rem !important;
}

.card-product-image {
    border-style: none;
    height: 4rem;
    margin: 0.5rem 1rem;
    /*width: 4rem;*/
}

.card-product-image svg {
    height: 4rem !important;
    width: 4rem !important;
    margin: 0 !important;
}

.item-card {
    display: flex;
}

.item-card-label {
    border-bottom: 1px solid var(--main-sub-border-color);
    margin-bottom: 0.5rem;
    padding-bottom: 1rem;
}

.item-card .extra-info {
    border-top: none;
}

.extra-info {
    border-top: 1px solid var(--main-sub-border-color);
    color: var(--main-sub-text-color);
    padding-top: 1rem;
}

.extra-info h4 {
    font-size: 1rem;
    font-weight: bold;
}

#specifications-add-button-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#product-specification-button {
    margin-left: 1rem;
}

.spec-item-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.spec-item-form-control {
    max-width: calc(100% - 3rem);
    width: auto;
}

.spec-input {
    height: 3rem;
}

.price-label {
    margin-left: 1rem;
    margin-right: 1rem;
}

.edit-heading-span {
    display: flex;
    justify-content: space-between;
}

.menu-main-navigation {
    z-index: 9;
}

.save-button .icon path {
    stroke: var(--sidebar-icon-highlight-color);
    fill: var(--sidebar-icon-highlight-color);
}

@media screen and (max-width: 1028px) {

    .applogo a {
        font-size: 1rem;
    }

    .menu-button {
        display: block;
    }

    .nav-links {
        align-items: center;
        padding-top: 2rem;
        position: absolute;
        flex-direction: column;
        height: calc(100vh - 3rem);
        transform: translateY(calc(-100% - 3rem));
        transition: transform 0.5s ease-in;
        top: 3rem;
        width: 100%;
    }
    /*
    .nav-links li {
        opacity: 0;
    }
    */    
    .nav-show-links {
        transform: translateY(0%);
        opacity: 1;
    }

    .nav-link-item {
        animation-name: anim-fade-up;
        animation-duration: 800ms;
        animation-fill-mode: both;
        animation-iteration-count: 1;
        text-align: center;
        width: 100%;
    }

    .nav-link-item:hover {
        background-color: var(--main-bg-color);
    }

    .nav-link-item a:hover {
        cursor: pointer;
    }

    .menu nav {
        z-index: 10;
    }

    .menu-main {
        align-items: center;
        background-color: var(--nav-bg-color);
        display: flex;
        justify-content: space-between;
        min-height: 4rem;
        width: 100%;
        z-index: 10;
    }

    .signup-form, .signin-form, .standard-form {
        margin: auto;
        max-width: 50%;
        width: 50%;
    }

    .small-input-control {
        margin: 1rem;
        width: 100%;
    }

    #product-specification-button {
        margin: 1rem;
    }

    .product-card {
        border: none;
        flex-basis: calc(30% - 4rem);
        max-width: calc(30% - 4rem);
        overflow: hidden;
    }

    .product-card-double {
        flex-basis: calc(50% - 4rem);
        max-width: calc(50% - 4rem);
    }

    .product-card-single {
        flex-basis: calc(100% - 4rem);
        max-width: calc(100% - 4rem);
    }
}

@media screen and (max-width: 640px) {
    .signup-form, .signin-form, .standard-form {
        margin: auto;
        max-width: 98%;
        width: 98%;
    }

    .sidebar {
        flex: 0 0 100%;
        max-width: 100%;
        width: 100%;
    }

    .main-content {
        flex: 0 0 100%;
        margin-top: 1rem;
        max-width: 100%;
        width: 100%;
    }

    .nav-link {
        text-align: left;
    }

    .nav-link.active {
        background-color: var(--main-highlight-color) !important;
        border: 0 !important;
        border-radius: .25rem !important;
        color: var(--sidebar-icon-highlight-color) !important;
    }

    .nav-link.active .icon path {
        fill: var(--sidebar-icon-highlight-color);
        stroke: var(--sidebar-icon-highlight-color);
    }

    .product-card {
        flex-basis: calc(100% - 4rem);
        max-width: calc(100% - 4rem);
    }
}

@keyframes anim-fade-up {
    from, to {
        animation-timing-function: cubic-bezier(.4, 0, .2, 1);
        transform-origin:center center
    }

    from {
        opacity: 0;
        transform:matrix(1, 0, 0, 1, 0, 25)
    }

    to {
        opacity: 1;
        transform:matrix(1, 0, 0, 1, 0, 0)
    }
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}