/*
* Global style sheet for colours, core elements and animations
*/
:root {
    --sample-color-base: #1DC2B1;
    --sample-color-base2: #1ab1a1;
    --sample-color-base3: #21D9C6;
    --sample-color-base4: #0ACFC5;
    --sample-color-light: #6AECDF;
    --sample-color-highlight: #23E8D4;
    --sample-color-dark: #2F6963;
    --sample-color-dark2: #2d635e;
    --sample-color-neutral: #1BB5A6;
    --main-highlight-color: /*#007bff;#1ab1a1;#0fc4b2;#1DC2B1;*/ var(--sample-color-base);
    --main-highlight-light-color: var(--sample-color-light);
    --main-border-color: rgba(0,0,0,.1);
    --main-sub-border-color: rgba(0,0,0,.125);
    --main-table-row-highlight-color: rgba(0,0,0,.075);
    --main-bg-color: #f4f4f4;
    --main-text-highlight-color: var(--sample-color-highlight);
    --main-text-highlight-bold-color: var(--sample-color-dark);
    --main-text-color: #444;
    --main-text-em-color: black;
    --main-sub-text-color: rgb(96,96,96);
    --main-text-legend-color: #96969d;
    --main-alert-err-color: #be4e3b;
    --main-alert-err-em-color: red;
    --main-content-bg-color: white;
    --main-content-btn-hover-color: #e9ecef;
    --main-symbol-stroke-color: #6A737D;
    --signin-with-btn-border-color: #c4cdd5;
    --signin-with-btn-bg-color: #f9fafb;
    --signin-with-btn-text-color: #263237;
    --main-nav-highlight-color: var(--sample-color-dark);
    --main-nav-highlight-bold-color: var(--sample-color-dark2);
    --main-nav-neutral-color: var(--sample-color-neutral);
    --main-nav-highlight-focus-color: rgba(29,196,180,0.4);
    --nav-bg-color: white;
    --nav-btn-color: #eff1f4;
    --nav-btn-border-color: #ced4da;
    --sidebar-icon-highlight-color: white;
    --green-light-color: #28a745;
    --icon-default-color: /*#6A737D;*/ #3b857d;
    --icon-delete-color: #cb2431;
    --product-card-highlight-color: #f9fafb;
}

* {
    box-sizing: border-box ;
    margin: 0px;
    padding: 0px;
    word-wrap:break-word;
}

*:focus {   
    border: none;
    box-shadow: 0 0 0 .2rem var(--main-nav-highlight-focus-color);
    outline-color: transparent;
    outline-style: none;
}

::selection {
    background-color: var(--main-text-highlight-color);
    color: var(--main-text-highlight-bold-color);
}

body {
    background-color: var(--main-bg-color);
    line-height: 1.6rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Questrial;
}

b {
    font-family: Questrial;
}

p {
    font-family: Quicksand;
}

nav h4  {
    /*letter-spacing: 0.1rem;*/
    font-size: 1.5rem;
}

nav h4 a {
    color: var(--main-text-color);
}

nav h4 a:hover {
    border: none;
    color: var(--main-text-em-color);
}

nav a:hover .icon path {
    fill: var(--main-nav-highlight-color);
    stroke: var(--main-nav-highlight-color);
}

nav a:hover {
    border-bottom: var(--main-nav-highlight-color) 2px solid;
    color: var(--main-nav-highlight-color);
    text-decoration: none;
}

nav a {
    font-size: 1rem;
    padding-bottom: 1rem;
    text-decoration: none;
    vertical-align: middle;
}

nav li {
    list-style: none;
}

nav {
    align-items: center;
    background-color: var(--nav-bg-color);
    display: flex;
    justify-content: space-around;
    min-height: 4rem;
}

li a {
    color: var(--main-text-color);
    /*color: #979898;*/
}

a {
    color: var(--main-text-color);
}

a:hover {
    color: var(--main-text-em-color);
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
bottom: .5em;
}

figure {
    border: none;
    margin: 0;
}

svg {
    border: none;
}

::placeholder, ::-ms-input-placeholder, ::-webkit-input-placeholder, ::-moz-placeholder, :-ms-input-placeholder, :-moz-placeholder {
    color: var(--main-text-legend-color);
    /*color: rgb(206, 212, 218);*/  
}

.custom-select {
    appearance: unset;
    -webkit-appearance: unset;
}

@keyframes anim-scalex-in {
    from, to {
        animation-timing-function: cubic-bezier(.4, 0, .2, 1);
    }

    from {
        display: flex;
        opacity: 1;
        transform: scaleX(1);
    }

    to {
        display: none;
        opacity: 0;
        transform: scaleX(0);
    }
}

@keyframes anim-scalex-out {
    from, to {
        animation-timing-function: cubic-bezier(.4, 0, .2, 1);
    }

    from {
        transform: scaleX(0);
    }

    to {
        transform: scaleX(1);
    }
}

@keyframes anim-fade-in {
    from, to {
        animation-timing-function: cubic-bezier(.4, 0, .2, 1);
    }

    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes anim-fade-up {
    from, to {
        animation-timing-function: cubic-bezier(.4, 0, .2, 1);
        transform-origin:center center
    }

    from {
        opacity: 0;
        transform:matrix(1, 0, 0, 1, 0, 25)
    }

    to {
        opacity: 1;
        transform:matrix(1, 0, 0, 1, 0, 0)
    }
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}