    <script type="text/javascript" src="view/assets/jquery/jquery-3.4.1.slim.js"></script>
    <script type="text/javascript" src="view/assets/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="view/assets/js/responsive-menu.js"></script>
</body>
</html>