<div class="input-group-append small-input-control">
    <!--
    <button id="currency-selector" class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">Currency</button>
    <div class="dropdown-menu">
        <a class="dropdown-item" href="#">jmd</a>
        <a class="dropdown-item" href="#">usd</a>
    </div>
-->
    <select class="custom-select btn" name="currency">
        <option value="jmd" <% if(typeof(currency) !== 'undefined' && currency.value == 'jmd') { %>selected="selected"<% } %>>jmd</option>
        <option value="usd" <% if(typeof(currency) !== 'undefined' && currency.value == 'usd') { %>selected="selected"<% } %>>usd</option>
    </select>
</div>
