<nav class="menu">
    <div class="menu-main">
        <div class="applogo">
            <a href="/">
                <%- include('assets/images/logo.svg') %>
            </a>
        </div>
        <form id="main-search-form" class="search-form" autocomplete="on" action="/find" method="POST" oninput="" novalidate>
            <div class="form-group">
                <div class="input-group">
                    <input id="find" class="form-control" type="text" name="find" placeholder="Search the Market" value=""
                        aria-label="find" aria-describedby="find-basic-addon" size="25" required>
                    <div class="input-group-append">
                        <span class="input-group-text" id="find-basic-addon">Find</span>
                    </div>
                    <div id="invalid-find" class="invalid-feedback">
                        Invalid search query.
                    </div>
                </div>
            </div>
        </form>
        <div class="menu-button">
            <div class="menu-line1"></div>
            <div class="menu-line2"></div>
        </div>
    </div>
    <ul class="nav-links">
        <li class="nav-link-item"><a <% if(typeof(reqData) !== 'undefined' && typeof(reqData.path) == 'string' && (reqData.path.split('/')[1] == 'market' || reqData.path.split('/')[1] == '')) { %>class="menu-item-selected" <% } %> href="/market">Marketplace</a></li>
        <li class="nav-link-item"><a <% if(typeof(reqData) !== 'undefined' && typeof(reqData.path) == 'string' && reqData.path.split('/')[1] == 'user' && reqData.path.split('/')[2] == 'bag') { %>class="menu-item-selected" <% } %> href="/user/bag">Buy</a></li>
        <li class="nav-link-item"><a <% if(typeof(reqData) !== 'undefined' && typeof(reqData.path) == 'string' && reqData.path.split('/')[1] == 'user' && reqData.path.split('/')[2] == 'shop') { %>class="menu-item-selected" <% } %> href="/user/shop">Sell</a></li>
        <% if(typeof(user) !== 'undefined') {%> 
        <li class="menu-item"><a <% if(typeof(reqData) !== 'undefined' && typeof(reqData.path) == 'string' && reqData.path.split('/')[1] == 'user' && reqData.path.split('/')[2] == 'account') { %>class="menu-item-selected" <% } %> href="/user/account">Account</a></li>
            <li class="menu-item"><a href="/signout">Sign Out</a></li>
        <% } else { %>
            <li class="nav-link-item"><a <% if(typeof(reqData) !== 'undefined' && typeof(reqData.path) == 'string' && reqData.path.split('/')[1] == 'signin' || reqData.path.split('/')[1] == 'signup' || reqData.path.split('/')[1] == 'reset' || reqData.path.split('/')[1] == 'verify') { %>class="menu-item-selected" <% } %> href="/signin">Sign in</a></li>
        <% } %>
        <li class="nav-link-item"><a <% if(typeof(reqData) !== 'undefined' && typeof(reqData.path) == 'string' && reqData.path.split('/')[1] == 'support') { %>class="menu-item-selected" <% } %> href="/support">Support</a></li>
    </ul>
</nav>
