<div class="tab-pane fade <% if(typeof(pane) !== 'undefined' && pane == 'pm') { %>show active<% } %>" id="payments-pane"
    role="tabpanel" aria-labelledby="payments-tab">
    <h2 class="pane-h2">Payment Methods</h2>
    <section class="standard-form-section">
        <form id="payments-form" class="standard-form" autocomplete="off" action="/user/account" method="POST"
            oninput="" novalidate>
            <fieldset <% if(typeof(disabledForms) !== 'undefined' && disabledForms.payments) { %> disabled="disabled"
                <% } %>>
                <input type="hidden" name="id" value="pm">

                <input type="hidden" name="uid"
                    value="<% if(typeof(user.id) !== 'undefined') { %><%= user.id %><% } %>">
                <div class="form-group">
                    <hr>
                    <div id="payment-add-button-container">
                        <button id="payment-add-button" type="submit" class="btn btn-light" onclick="">Add Payment
                            Method</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </section>
</div>