
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Phone Number</span>
                    </div>
                    <input class="form-control <% if(typeof(phoneNumber) !== 'undefined'  && phoneNumber && typeof(phoneNumber.class) !== 'undefined') { %><%= phoneNumber.class %><% } %>" type="text" name="phoneNumber" value="<% if(typeof(phoneNumber) !== 'undefined'  && phoneNumber && typeof(phoneNumber.value) !== 'undefined') { %><%= phoneNumber.value %><% } %>"
                        aria-label="Phone Number" aria-describedby="phoneNumber-basic-addon" size="25" required>
                    <div  class="invalid-feedback">
                    <% if(typeof(phoneNumber) !== 'undefined' && phoneNumber && phoneNumber.class == 'is-invalid') { %><%= phoneNumber.message %><% } else { %>Please enter a valid phone number.<% } %>
                    </div>
                </div>
                <small class="form-text text-muted  validation-msg hidden"></small>