<div class="tab-pane fade <% if(typeof(pane) !== 'undefined' && (pane == 'pd' || pane == 'pd-new' || pane == 'cl' || pane == 'in')) { %>show active<% } %>" id="products-pane" role="tabpanel" aria-labelledby="products-tab">
    <ul class="nav nav-tabs nav-fill flex-column flex-sm-row" id="productsTabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link <% if(typeof(pane) !== 'undefined' && pane == 'pd-new' || pane == 'sf') { %>active<% } %>" id="new-products-tab"
                data-toggle="tab" href="#add-product-pane" role="tab" aria-controls="new"
                aria-selected="false"><%- include('assets/symbols/add.svg') %>Registration</a>
        </li>
        <li class="nav-item">
            <a class="nav-link <% if(typeof(pane) !== 'undefined' && pane == 'in') { %>active<% } %>" id="product-inventory-tab"
                data-toggle="tab" href="#inventory-pane" role="tab" aria-controls="all"
                aria-selected="true"><%- include('assets/symbols/gallery.svg') %>Inventory</a>
        </li>
    </ul>
    <div class="tab-content" id="productsTabContent">
        <%- include('./_product_all.ejs') %>
        <%- include('./_product_new.ejs') %>
    </div>
</div>
