<main class="container">
    <section class="signin-section">
        <form id="signin-form" class="signin-form" autocomplete="off" action="/reset" method="POST" oninput="" novalidate>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <div class="form-group">
                <% if(typeof(messages.error) !== 'undefined') { %>
                <div id="main-alert" class="alert alert-danger alert-dismissible fade show" role="alert">
                    <%= messages.error %>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                </div>
                <% } %> 
                <% if(typeof(messages.info) !== 'undefined') { %>
                <div id="main-info" class="alert alert-primary alert-dismissible fade show" role="alert">
                    <%= messages.info %>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                </div>
                <% } %>
                <p class="refer-to-signup">No account? <a class="signup-link" href="/signup">Signup</a>.</p>
                <p class="refer-to-signup">Or <a class="signup-link" href="/signin">Signin</a>.</p>
		<div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="username-basic-addon">Username</span>
                    </div>
                    <input id="username" class="form-control" type="text" name="username" placeholder="Email" value=""
                        aria-label="username" aria-describedby="username-basic-addon" size="25" required>
                    <div id="invalid-username" class="invalid-feedback">
                        Please enter a valid email address or username.
                    </div>
                </div>
                <small id="validationUsername" class="form-text text-muted  validation-msg hidden"></small>
                <div id="signin-buttons-container">
                    <button id="signin-button" type="submit" class="btn btn-danger" onclick="">Reset Password</button>
                </div>
            </div>
        </form>
    </section>
</main>
