<main class="container">
    <section class="signin-section">
        <form id="signin-form" class="signin-form" autocomplete="off" action="/signin" method="POST" oninput="" novalidate>
            <div class="form-group">
                <% if(typeof(messages.error) !== 'undefined') { %>
                <div id="main-alert" class="alert alert-danger alert-dismissible fade show" role="alert">
                    <%= messages.error %>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                </div>
                <% } %> 
                <% if(typeof(messages.info) !== 'undefined') { %>
                <div id="main-info" class="alert alert-primary alert-dismissible fade show" role="alert">
                    <%= messages.info %>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                </div>
                <% } %>
                <% if(typeof(messages.success) !== 'undefined') { %>
                <div id="main-info" class="alert alert-success alert-dismissible fade show" role="alert">
                    <%= messages.success %>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                </div>
                <% } %>
                <p class="signin-legend"><a class="signup-link" href="/signup">Signup</a> to create an account. Forgotten credentials can be <a class="signup-link" href="/reset">reset</a>. Go <a class="signup-link" href="/verify">here</a> for account verification.</p>
                <p class="signin-legend">You may signin with a username & password.</p>
		        <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="username-basic-addon">Username</span>
                    </div>
                    <input id="username" class="form-control" type="text" name="username" placeholder="Email" value=""
                        aria-label="username" aria-describedby="username-basic-addon" size="25" required>
                    <div id="invalid-username" class="invalid-feedback">
                        Please enter a valid email address or username.
                    </div>
                </div>
                <small id="validationUsername" class="form-text text-muted  validation-msg hidden"></small>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="passowrd-basic-addon">Password</span>
                    </div>
                    <input id="password" class="form-control" type="password" name="password" value="" aria-label="Password"
                        aria-describedby="password-basic-addon" size="25" required>
                    <div id="invalid-password" class="invalid-feedback">
                        Please enter a password.
                    </div>
                </div>
                <small id="passwordHint" class="form-text text-muted hidden"></small>
                <div id="signin-buttons-container">
                    <button id="signin-button" type="submit" class="btn btn-danger" onclick="">Signin</button>
                </div>
                <hr>
                <div class="authenticate-with mb-3">
                    <div>Or</div>
                    <p class="signin-legend">Alternatively, authenticate using one of the below supported 3<sup>rd</sup> party services.</p>
                </div>
                <div class="signin-auth-providers form-group">
                    <div class="signin-google-container mb-3">
                        <button id="signin-google" type="button" class="btn btn-large btn-secondary width-full" onclick="location.href='/auth/google';">Continue with
                            Google</button>
                    </div>
                    <div class="signin-fb-container mb-3">
                        <button id="signin-fb" type="button" class="btn btn-large btn-secondary width-full" onclick="location.href='/auth/facebook';">Continue with
                            Facebook</button>
                    </div>
                    <!--
                    <div class="signin-apple-container mb-3">
                        <button id="signin-apple" type="button" class="btn btn-large btn-secondary width-full" onclick="">Continue with
                            Apple</button>
                    </div>
                -->
                    <div class="signin-ms-container mb-3">
                        <button id="signin-ms" type="button" class="btn btn-large btn-secondary width-full" onclick="location.href='/auth/windowslive';">Continue with
                            Microsoft</button>
                    </div>
                </div>
            </div>
        <input type="hidden" name="redirect" value="<% if(typeof(redirect) !== 'undefined') { %><%= redirect %><%  } else { %>/<% } %>">
        </form>
    </section>
</main>
