<main class="container">
    <% if(typeof(messages.success) !== 'undefined') { %>
    <section class="signin-section">
        <div class="signin-form">
            <div class="form-group">
                <div id="main-alert" class="alert alert-success alert-dismissible fade show" role="alert">
                    <%= messages.success %>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                </div>
                <p>You may now <b><a href="/signin">sigin in</a></b> to continue.</p>
            </div>
        </div>
    </section>
    <% } else if(typeof(messages.info) !== 'undefined') { %>
    <section class="signin-section">
        <div class="signin-form">
            <div class="form-group">
                <div id="main-alert" class="alert alert-primary alert-dismissible fade show" role="alert">
                <%= messages.info %>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                </div>
                <p>Follow the instructions in the email to complete verification. Otherwise to continue unverified <a href="/">click here</a>.
                </p>
            </div>
        </div>
    </section>
    <% } else { %>
    <section class="signin-section">
        <form id="signin-form" class="signin-form" autocomplete="off" action="/verify" method="POST" oninput="" novalidate>
            <% if(typeof(csrfToken) !== 'undefined') { %><input type="hidden" name="_csrf" value="<%= csrfToken %>"><% } %>
            <div class="form-group">
                <% if(typeof(messages.error) !== 'undefined') { %>
                <div id="main-alert" class="alert alert-danger alert-dismissible fade show" role="alert">
                    <%= messages.error %>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                </div>
                <% } %>
                <p class="resend-verification">Missed the verification link? No problem. Let's try it again.</p>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="username-basic-addon">Username</span>
                    </div>
                    <input id="username" class="form-control" type="text" name="username" placeholder="Email" value=""
                        aria-label="username" aria-describedby="username-basic-addon" size="25" required>
                    <div id="invalid-username" class="invalid-feedback">
                        Please enter a valid email address or username.
                    </div>
                </div>
                <small id="validationUsername" class="form-text text-muted  validation-msg hidden"></small>
                <hr>
                <div id="signin-buttons-container">
                    <button id="signin-button" type="submit" class="btn btn-danger" onclick="">Send Verification</button>
                </div>
            </div>
            <div>
                <p class="refer-to-signin">Go to <a class="signin-link" href="/signin"><b>Signin</b></a>.</p>
            </div>
        </form>
    </section>
    <% } %>
</main>