
* {
    box-sizing: border-box ;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #f4f4f4;
}

nav h4  {
    /*letter-spacing: 0.1rem;*/
    font-size: 1.5rem;
}

nav h4 a {
    color: #444;
}

nav h4 a:hover {
    border: none;
    color: black;
}

nav a:hover {
    border-bottom: black 2px solid;
    color: black;
    text-decoration: none;
}

nav a {
    font-size: 1rem;
    padding-bottom: 0.3rem;
    text-decoration: none;
}

nav li {
    list-style: none;
}

nav {
    align-items: center;
    background-color: white;
    display: flex;
    justify-content: space-around;
    min-height: 4rem;
}

li a {
    color: #444;
    /*color: #979898;*/
}

a {
    color: #444;
}

a:hover {
    color: black;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
bottom: .5em;
}

#main-search-form {
    z-index: 10;
}

#find {
    text-align: center;
}

#signin-fb, #signin-google, #signin-apple, #signin-ms {
    background-color: transparent;
    border-color: #c4cdd5;
    /*box-shadow: 0 0 0 1px rgba(63,63,68,0.05),0 1px 3px 0 rgba(63,63,68,0.15);*/
    color: #444;
    /*
    background-color: #495d66;
    border-color: #ced4da;
    color: #f7f7f7;
    */
    width: 100%;
}

#signin-fb:hover, #signin-google:hover, #signin-apple:hover, #signin-ms:hover {
    /*
    background-color: #263237;
    background-color: #f9f9f7;
    color: #f7f7f7;
    */
    background-color: #f9fafb;
    /*border-color: #263237;*/
    color: #263237;
}

.container {
    overflow-y: scroll;
    z-index: 1;
}

.menu-main {
    align-items: center;
    display: flex;
    justify-content: space-around;
    width: 40%;
    z-index: 10;
}

.form-group {
    margin: 0;
}

.error-message {
    font-size: 4rem !important;
}

.error-code {
    font-size: 2rem;
}

.error-msg h1, .header-banner h1 {
    font-size: 6rem;
    text-align: center;
}

.error-msg b {
    color: #BE4E3B;
}

.error-msg p {
    text-align: center;
}

.error-msg a {
    color: black;
    font-size: 1.25rem;
}

#signin-button, #signup-button {
    width: 100%;
}

.authenticate-with {
    margin: 0 auto;
    position: relative;
    text-align: center;
    width: 100%;
}

.refer-to-signup, .resend-verification {
    text-align: left;
}

.signup-link {
    font-size: 1rem;
    font-weight: bold;
    text-decoration: underline;
}

.signup-section, .signin-section, .standard-form-section {
    display: flex;
    margin: 4rem auto;
    position: relative;
    width: 80%;
}

.standard-form-section {
    display: block;
}

.signup-form, .signin-form, .standard-form {
    margin: auto;
    max-width: 38%;
    width: 38%;
}

.standard-form {
    max-width: 68%;
    width: 60%;
}

.standard-form label {
    margin-left: 1rem;
    margin-right: 1rem;
}

.signin-form {
    margin: auto;
}

.sidebar-item {
    background: transparent;
}

.header-banner {
    display: block;
    margin: 4rem auto;
    position: relative;
    width: 80%;
}

.nav-links {
    background-color: white;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 60%;
    z-index: 1;
}

.applogo {
    display: flex;
    margin-left: 1rem;
    margin-right: 1rem;
    z-index: 10;
}

.applogo a {
    color: black;
    font-size: 1rem;
    font-weight: normal;
    padding: 0;
}

.applogo a:hover {
    color: #444;
    border: none;
    text-decoration: none;
}

.applogo img {
    height: 48px;
}

.menu-button div {
    background-color: #444;
    height: 2px;
    margin: 5px;
    width: 20px;
    transition: all 0.3s ease;
}

.menu-button {
    display: none;
    margin-left: 1rem;
    margin-right: 1rem;
    z-index: 1;
}

.menu-button:hover {
    cursor: pointer;
}

.menu nav {
    z-index: 10;
}

.main-center-section {
    margin: 12rem auto;
    width: 80%;
}

.toggle .menu-line1 {
    transform: rotate(-45deg) translate(-3px,2px);
}

.toggle .menu-line2 {
    transform: rotate(45deg) translate(-3px,-2px);
}

.main-panel {
    margin: 2rem auto;
}

.content-pane {
    background-color: white;
    border-radius: 4px;
    padding: 1rem;
}

.pane-h2 {
    color: #444;
}

.red-alert {
    color: red;
}

#address-table th, td {
white-space: nowrap;
}

@media screen and (max-width: 1028px) {

    .applogo a {
        font-size: 1rem;
    }

    .menu-button {
        display: block;
    }

    .nav-links {
        align-items: center;
        position: absolute;
        flex-direction: column;
        height: calc(100vh - 3rem);
        transform: translateY(calc(-100% - 3rem));
        transition: transform 0.5s ease-in;
        top: 3rem;
        width: 100%;
    }
    /*
    .nav-links li {
        opacity: 0;
    }
    */    
    .nav-show-links {
        transform: translateY(0%);
        opacity: 1;
    }

    .nav-link-item {
        animation-name: anim-fade-up;
        animation-duration: 800ms;
        animation-fill-mode: both;
        animation-iteration-count: 1;
        text-align: center;
        width: 100%;
    }

    .nav-link-item:hover {
        background-color: #f4f4f4;
    }

    .nav-link-item a:hover {
        cursor: pointer;
    }

    .menu nav {
        z-index: 10;
    }

    .menu-main {
        align-items: center;
        background-color: white;
        display: flex;
        justify-content: space-around;
        min-height: 4rem;
        width: 100%;
        z-index: 10;
    }

    .signup-form, .signin-form, .standard-form {
        margin: auto;
        max-width: 50%;
        width: 50%;
    }
}

@media screen and (max-width: 640px) {
    .signup-form, .signin-form, .standard-form {
        margin: auto;
        max-width: 98%;
        width: 98%;
    }
}

@keyframes anim-fade-up {
    from, to {
        animation-timing-function: cubic-bezier(.4, 0, .2, 1);
        transform-origin:center center
    }

    from {
        opacity: 0;
        transform:matrix(1, 0, 0, 1, 0, 25)
    }

    to {
        opacity: 1;
        transform:matrix(1, 0, 0, 1, 0, 0)
    }
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}