<!-- body -->
<main class="container">
    <section class="welcome-section">
      <div>
        Good Day <%= name %>,
        <br><br>
        Please select the link below to verify your email address:
        <br><a href="<%= url %>">Email Verify Link</a>
        <br><br>
        Best Regards,<br>
        The OppenShop Team
        <hr>
        <p><i>We don't check this mailbox, so please don't reply to this message.</i></p>
      </div>
    </section>
</main>
