<!-- body -->
<main class="container">
    <section class="welcome-section">
      <div>
        Welcome  <%= name %> to Oppenshop!
        <br>
        <p>Oppenshop is a online marketplace that allows users to create shops and publish products available for purhase. </p>
        <p>Online orders can be placed on products published in the marketplace. </p>
        <br>
        <br>You may begin you experience in the online marketplace by clicking <a href="<%= url %>">here</a>.
        <br><br>
        Best Regards,<br>
        The OppenShop Team
        <hr>
        <p><i>We don't check this mailbox, so please don't reply to this message.</i></p>
      </div>
    </section>
</main>
