    <script type="text/javascript" src="view/asset/jquery/jquery-3.4.1.slim.js"></script>
    <script type="text/javascript" src="view/asset/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>