<nav>
    <div class="applogo">
        <h4><a href="/">OppenShop</a></h4>
    </div>
    <ul class="nav-account-links nav-links">
        <li><a href="/shops">Shops</a></li>
        <li><a href="/promotions">Promotions</a></li>
        <li><a href="/marketplace">Marketplace</a></li>
        <li><a href="/sell">Sell</a></li>
        <li><a href="/bag">Bag</a></li>
        <li><a href="/signin">Sign in</a></li>
        <li><a href="/account">Account</a></li>
        <li><a href="/support">Support</a></li>
    </ul>
    <div class="menu-button">
        <div class="menu-line1"></div>
        <div class="menu-line2"></div>
    </div>
</nav>