<main class="container main-center-section">
    <section class="error-msg">
        <p><a class="signup-link" href="/signup">Signup</a> to create a shop front or sell a product directly to the OppenShop marketplace.</p>
    </section>
</main>