<main class="container main-center-section">
    <section class="error-msg">
        <h1><b><% if(typeof(error) !== 'undefined') {%><%= error.status %><% } %></b></h1>
        <p><% if(typeof(error) !== 'undefined') {%><%= error.message %><% } %></p>
        <a href="/"><p>Back to Start &larr;</p></a>
    </section>
</main>