<main class="container main-center-section">
    <section class="error-msg">
        <p style="margin-bottom: 0;">Hello<% if(typeof(name) !== 'undefined') {%>&nbsp;<b><%=name%></b><% } %>.</p>
        <h1>OppenShop</h1>
        <p>A <b>totally awesome idea</b> is still in development</p>
        <p>Check again soon.</p>
    </section>
</main>