<main class="container main-center-section">
    <section class="error-msg">
        <p>A <b>totally awesome idea</b> about connecting buyers with sellers</p>
        <p>We're still in development but check back soon<% if(typeof(name) !== 'undefined') {%>&nbsp;<%=name%><% } %>.</p>
    </section>
</main>