<main class="container main-center-section">
    <section class="error-msg">
        <h1>OppenShop</h1>
        <p>A <b>totally awesome idea</b> still in development</p>
        <p>Check again soon<% if(typeof(name) !== 'undefined') {%>&nbsp;<%=name%><% } %>.</p>
    </section>
</main>