<main class="container main-center-section">
    <section class="error-msg">
        <h1>OppenShop</h1>
        <p>Hello<% if(typeof(name) !== 'undefined') {%>&nbsp;<%=name%><% } %>, this is a <b>totally awesome idea</b> still in development</p>
        <p>Check again soon.</p>
    </section>
</main>